<h2>Log in page</h2>
<form action="/users/log_in_session">
  E-mail : <input type="email" name = "email"><br>
  Password : <input type="password" name = "password"><br>
  <input type="submit" value = "SUBMIT">
</form>
